<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="in.vtrc.android.app.vuta"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />
    
    <permission android:name="in.vtrc.android.app.vuta.USER" ></permission>

    <uses-permission android:name="de.tubs.ibr.dtn.permission.DTN_COMMUNICATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="in.vtrc.android.app.vuta.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <service android:name="in.vtrc.android.app.lib.GenericService" />
        
        <activity
            android:name="in.vtrc.android.app.vuta.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="vtrc.vuta.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="in.vtrc.android.app.vuta.MainActivity" />
        </activity>
        
        <activity
            android:name="in.vtrc.android.app.lib.ui.UserChooserActivity"
            android:label="User List"
            android:screenOrientation="portrait" />
        
        <provider
            android:name="in.vtrc.android.app.vuta.provider.Provider"
            android:authorities="in.vtrc.android.app.vuta"
            android:exported="true"
            android:permission="in.vtrc.android.app.vuta.USER" >
        </provider>
        <receiver
            android:name="in.vtrc.android.app.lib.IBRDtnReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="de.tubs.ibr.dtn.permission.DTN_SERVER" >

            <!-- Add intent filter for notification of incoming bundles -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.RECEIVE" />

                <category android:name="in.vtrc.android.app.vuta" />
            </intent-filter>
            <!-- Add intent filter for status reports generated by the DTN service -->
            <intent-filter>
                <action android:name="de.tubs.ibr.dtn.intent.STATUS_REPORT" />

                <category android:name="in.vtrc.android.app.vuta" />
            </intent-filter>
        </receiver>
        
        <receiver android:name="in.vtrc.android.app.vuta.NewMessageReceiver" >
            <intent-filter>
                <action android:name="in.vtrc.app.DATA_RECEIVED" />
            </intent-filter>
        </receiver>
             
    </application>

</manifest>
